/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Antic Slab", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background: #f4f4f4;;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-bottom: 0.5px solid #333;
}
header a {
    color: #333; /* Change this to your desired color */
    text-decoration: none; /* Optional: removes underline */
}


main {
    padding: 2rem;
}

footer {
    border-top: 0.5px solid #333;
    text-align: center;
    padding: 2rem;
}

a {
    color: #fb1eff;
    text-decoration: none;
}

p {
    max-width: 500px;     
    margin: 0 auto;       
    text-align: justify; 
    padding: 1rem;  
}


/* flex */

/* Flex container styling */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

/* Flex item (individual links) styling */
.flex-item {
    display: block;
    padding: 50px;
    width: 600px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #dab0dc;
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s;
}

/* Hover effect for links */
.flex-item:hover {
    background-color: #b084b3;
}

a.flex-item {
    color: #ffffff;
    background-color: #dab0dc;
    padding: 100px 200px 100px 200px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .flex-container {
        width: 100%;
    }
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

